.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

mat-card {
  width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.login-button {
  width: 100%;
}

.register-link {
  display: block;
  text-align: center;
  margin-top: 16px;
}