<form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()" class="create-task-form">
  <div class="create-task-wrapper">
    <input
      type="text"
      class="task-input"
      placeholder="Add Task..."
      formControlName="taskName"
      maxlength="100"
    />

    <button class="add-task-button" type="submit" [disabled]="createTaskForm.invalid">
      Add Task
    </button>
  </div>

  <div
    *ngIf="createTaskForm.get('taskName')?.invalid && createTaskFormSubmitted"
    class="form-text text-danger mt-1"
  >
    <div *ngIf="createTaskForm.get('taskName')?.hasError('required')">Task name is required.</div>

    <div *ngIf="createTaskForm.get('taskName')?.hasError('maxlength')">
      Task name cannot be more than 100 characters.
    </div>
  </div>
</form>
