<form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()" class="mb-4">
  <div class="input-group">
    <input type="text" 
           class="form-control" 
           placeholder="Add Task..." 
           formControlName="taskName"
           maxlength="100">

    <button class="btn btn-primary" 
            type="submit" 
            [disabled]="createTaskForm.invalid">
      Add Task
    </button>
  </div>
  
  <div *ngIf="createTaskForm.get('taskName')?.invalid && createTaskForm.get('taskName')?.touched" 
       class="form-text text-danger mt-1">
    <div *ngIf="createTaskForm.get('taskName')?.hasError('required')">
      Task name is required.
    </div>
    <div *ngIf="createTaskForm.get('taskName')?.hasError('maxlength')">
      Task name cannot be more than 100 characters.
    </div>
  </div>
</form>