.container {
  padding: 24px;
}

.tabs-list {
  list-style-type: none;
}

.tab-item .tab-link {
  padding: 10px 20px;
  cursor: pointer;
  color: #0d6efd;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom: none;
  margin-bottom: -1px;
  margin-top: 10px;
}

.tab-item .tab-link.active {
  font-weight: bold;
  border-color: #dee2e6;
  border-radius: 5px 5px 0 0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.table-wrapper {
  position: relative;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  border: 1px solid #ccc;
  height: 40px;
  width: 40%;
  border-radius: 4px;
}

.tab-animate {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
