<div>
  <h1>My Tasks</h1>
  
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Search Tasks..." (keyup)="onSearch($event)">
  </div>
  
  <app-create-task (taskCreated)="loadInitialData()"></app-create-task>

  <tabset class="mt-4">

    <tab heading="To Do">
      <div *ngIf="todoTasks.length === 0; else todoContent" class="text-center p-4 text-muted">
        <p *ngIf="currentSearchTerm">No 'To Do' tasks found matching "{{ currentSearchTerm }}".</p>
        <p *ngIf="!currentSearchTerm">You have no tasks to do!</p>
      </div>
      <ng-template #todoContent>
       <app-task-table
  [tasks]="todoTasks"
  tableType="todo"
  [isAdmin]="isAdminUser"
  [currentPage]="pagination.todo.currentPage"
  [itemsPerPage]="pagination.todo.itemsPerPage"
  (complete)="markAsComplete($event)"
  (saveEdit)="onSaveInlineEdit($event)"
  (delete)="deleteTask($event)">
</app-task-table>
        <div class="d-flex justify-content-center mt-3" *ngIf="pagination.todo.totalItems > pagination.todo.itemsPerPage">
          <pagination 
            [totalItems]="pagination.todo.totalItems" 
            [itemsPerPage]="pagination.todo.itemsPerPage"
            [(ngModel)]="pagination.todo.currentPage"
            (pageChanged)="todoPageChanged($event)"
             [maxSize]="5"
              [boundaryLinks]="true">
          </pagination>
        </div>
      </ng-template>
    </tab>

    <tab heading="Completed">
        <div *ngIf="completedTasks.length === 0; else completedContent" class="text-center p-4 text-muted">
        <p *ngIf="currentSearchTerm">No 'CompletedTask' tasks found matching "{{ currentSearchTerm }}".</p>
        <p *ngIf="!currentSearchTerm">You have no completed tasks!</p>    
      </div>
      <ng-template #completedContent>
        <app-task-table
          [tasks]="completedTasks"
          tableType="completed"
          [isAdmin]="isAdminUser"
          [currentPage]="pagination.completed.currentPage"
          [itemsPerPage]="pagination.completed.itemsPerPage"
          (revert)="revertToDo($event)"
          (delete)="deleteTask($event)">
        </app-task-table>
        <div class="d-flex justify-content-center mt-3" *ngIf="pagination.completed.totalItems > pagination.completed.itemsPerPage">
          <pagination 
            [totalItems]="pagination.completed.totalItems" 
            [itemsPerPage]="pagination.completed.itemsPerPage"
            [(ngModel)]="pagination.completed.currentPage"
            (pageChanged)="completedPageChanged($event)"
            [maxSize]="5"
  [boundaryLinks]="true">
          </pagination>
        </div>
      </ng-template>
    </tab>

    <tab heading="Deleted" *ngIf="isAdminUser">
      <div *ngIf="deletedTasks.length === 0; else deletedContent" class="text-center p-4 text-muted">
        <p *ngIf="currentSearchTerm">No 'DeletedTask' tasks found matching "{{ currentSearchTerm }}".</p>
        <p *ngIf="!currentSearchTerm">You have no deleted tasks!</p>    
      </div>
       <ng-template #deletedContent>
      <app-task-table
  [tasks]="deletedTasks"
  tableType="deleted"
  [isAdmin]="isAdminUser"
  [currentPage]="pagination.deleted.currentPage"
  [itemsPerPage]="pagination.deleted.itemsPerPage"
  (restore)="restoreTask($event)">
</app-task-table>

<div class="d-flex justify-content-center mt-3"
     *ngIf="pagination.deleted.totalItems > pagination.deleted.itemsPerPage">
  <pagination
    [totalItems]="pagination.deleted.totalItems"
    [itemsPerPage]="pagination.deleted.itemsPerPage"
    [(ngModel)]="pagination.deleted.currentPage"
    (pageChanged)="deletedPageChanged($event)"
    [maxSize]="5"
    [boundaryLinks]="true">
  </pagination>
</div>

       </ng-template>
    </tab>
  </tabset>
</div>

